@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-slate-50 text-slate-900;
}
.main-container {
  @apply max-w-5xl mx-auto px-4 sm:px-6 lg:px-8;
}
.main-container {
  @apply mx-auto px-4 sm:px-6;
  max-width: 960px;
}
.prose-custom h1 {
  @apply text-3xl font-semibold mt-8 mb-4;
}
.prose-custom h2 {
  @apply mt-10 mb-4 pb-2 text-xl font-semibold border-b border-slate-200;
}
.prose-custom h3 {
  @apply mt-8 mb-3 pl-3 text-lg font-semibold border-l-4 border-slate-200;
}
.prose-custom p {
  @apply leading-relaxed mb-4 text-sm;
}
.prose-custom ul {
  @apply list-disc pl-6 mb-4 text-sm;
}
.prose-custom ul li::marker {
  font-size: 0.6em; /* 黒丸の大きさだけ小さくする */
  color: #64748b; /* ちょっとグレー寄りに（お好みで） */
}
.prose-custom code {
  @apply px-1 py-0.5 rounded bg-slate-800 text-slate-100 text-sm;
}
.prose-custom pre {
  @apply bg-slate-900 text-slate-100 p-4 rounded-lg overflow-x-auto text-sm mb-4;
}
.prose-custom a {
  @apply text-sky-600 underline underline-offset-2 decoration-sky-300;
}
.prose-custom a:hover {
  @apply text-sky-700 decoration-sky-400;
}
html {
  overflow-y: scroll;
}
